body {
  background-color: #f0f1f2 !important;
  position: relative;
}

header.FExxx-nav {
  z-index: 5;
  position: fixed;
  font-family: ProximaNova, Arial, sans-serif !important;
  background-color: #293f54;
  height: 60px;
  width: 100%;
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline;
        a {
          color: white;
          text-transform: capitalize;
          text-decoration: none;
          margin-right: 30px;
          font-size: 20px;
        }
      }
    }
  }
}

.FExxx-nav-sidebar {
  margin-top: 60px;
  position: fixed;
  font-family: ProximaNova, Arial, sans-serif !important;
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      &.active a{
        border-left: 2px solid #44596c;
      }
      a {
        text-decoration: none;
        color: #44596c;
        padding: 2px 10px;
        border-left: 2px solid #f0f1f2;
        &:visited {
          color: #44596c;
        }
        &:hover {
          text-decoration: none;
          color: #6e7e8a;
          border-left: 2px solid #44596c;
        }
        &:active {
          border-left: 2px solid #44596c;
        }
      }
    }
  }
}

.FExxx-content {
  margin-top: 60px;
  position: relative;
  left: 25%;
}

.FExxx-element {
  background-color: white;
  padding: 1px 20px 20px 20px;
  margin-bottom: 50px;
  hr {
    border: 1px dashed #BBB;
    clear: both;
  }
  .div-color {
    font-family: ProximaNova, Arial, sans-serif !important;
    font-size: 12px;
    text-align: center;
    width: 109px;
    height: 109px;
    float: left;
    margin: 0 20px 20px 0;
    padding: 10px;
  }
}

.affix {
  width: inherit; //helped keep the content the same size on fluid layouts
  position: fixed;
}
.affix-bottom {
  width: inherit;
  position: absolute;
  top: auto;
  bottom: 200px;  //height of the footer
}
.affix-top {
  //i didn't need this style but you might
}

pre.prettyprint {
  font-size: 13px;
}